@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bluish-gray {
    --tw-bg-opacity: 1;
    background-color: rgba(245,247,250,var(--tw-bg-opacity));
}
.responsive-img{
    width: 100%;
    max-width: 400px;
    height: auto;

}
@media print {
    /* set the max-width: 768px; of the page */
    @page {
        max-width: 768px;
        margin-inline: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}